<form method="get" action="" name="import">
  <div id='head2' style="text-align:center"> 
    Importação de arquivos CSV<br><br>
    
 <!-->   <input type="checkbox" name="cleartable" value="<% @cleartable %>" checked="yes"/> Limpar tabela antes de importar </input><br><br>
-->
    <a href='/import/medico' shape="rect" border=0> <input type="submit" value="Médicos" class="button" /></a>
    <a href='/import/cliente' shape="rect" border=0> <input type="submit" value="Clientes" class="button" /></a>
  </div>
</form>
      


